@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #FFDF42;
  --light-gray: #F0F0F0;
  --dark-color: #211A1D;
  --blue-color: #458BD1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark:var(--dark-color);
  --color-blue:var(--blue-color);
  --color-lightGray:var(--light-gray);
  --color-primary:var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
